---
import type { ParsedPokemonCard } from "../type";
import { Picture } from "@astrojs/image/components";

export interface Props {
  cardInformation: ParsedPokemonCard;
}

const { name, edition, galleryUrl, imageUrl, directImageLink } =
  Astro.props.cardInformation;
const finalImageUrl = directImageLink || imageUrl;
---

<li class="flex-column center md:mt-3 md:mr-9 w-100">
  <a href={galleryUrl}>
    <Picture
      aspectRatio="444:620"
      widths={[700]}
      src={finalImageUrl}
      alt={`${name}'s image`}
      format="jpeg"
      loading="lazy"
    />
    <h2>
      {name}
      <span>&rarr;</span>
    </h2>
  </a>
  <a
    href={`/${edition}`}
    class="mt-1 mr-2.5 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    {edition}
  </a>
</li>
